flow.json
[
    {
        "id": "7d97ba58.980d54",
        "type": "tab",
        "label": "Base-Test",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d3680dcc.99957",
        "type": "mqtt-broker",
        "name": "MQTT-Broker",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "bea2a4e3.b0d208",
        "type": "inject",
        "z": "7d97ba58.980d54",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 160,
        "wires": [
            [
                "a8dc60fb.d3146"
            ]
        ]
    },
    {
        "id": "a8dc60fb.d3146",
        "type": "debug",
        "z": "7d97ba58.980d54",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 330,
        "y": 160,
        "wires": []
    },
    {
        "id": "8e2102e6.153",
        "type": "mqtt in",
        "z": "7d97ba58.980d54",
        "name": "",
        "topic": "tut/tests",
        "qos": "0",
        "datatype": "auto",
        "broker": "d3680dcc.99957",
        "x": 120,
        "y": 240,
        "wires": [
            [
                "a8dc60fb.d3146"
            ]
        ]
    }
]